body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header{
    display: flex;
    background-color: #1F2937;
}

.header_logo{
    font: 24px sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #1F2937;
    padding-left: 200px; 
    padding-top: 12px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
}

.item_image{
    height: 175px;
    width: 175px;
    border: 3px #3882F6 solid;
    border-radius: 10px;
    overflow:hidden;
}


.item_description{
    width: 125px;
}

img{
    height: 100%;
    width: 100%;
}
.header_links{
    display: flex;
    font: 18px sans-serif;
    color: #E5E7EB;
    margin-left: auto;
    margin-right: 188px;
}

.link{
    padding: 12px;
}

.awesome{
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    padding: 120px 200px;
    background-color: #1F2937;
}

.awesome_title{
    font: 48px sans-serif;
    font-weight: bolder;
    color: #F9FAF8;
    
}
.awesome_description{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    flex: 1;
    margin-right: auto;
    flex-basis: 50%;
    font: 18px sans-serif;
    color: #E5E7EB;
    gap: 10px;
}

.awesome_image{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

button, .awesome_button{
    background-color: #3882F6;
    color: white;
    border: 0px;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 16px;
    width: 140px;
}

.random{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 250px;
    padding-bottom: 75px;
    padding-top: 50px;
}
.random_info{
    display: flex;
    padding: 40px 0px;
    font: 36px sans-serif;
    font-weight: 500;
    color: #1F2937;
    background-color: white;
}

button{
    align-items: center;
    justify-content: center;
    color: #3882F6;
}
.random_items{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.quote_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 225px;
    height: 200px;
    background-color: #E5E7EB;
}

.quote_text{
    display: flex;
    font: 36px Ariel;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote_name{
    display: flex;
    margin-left: auto;
    margin-right: 64px;
}

.action{
    display: flex;
    width: 80%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
}

.action_wrapper{
    display: flex;
    background-color: white;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.action_button{
    margin-left: auto;
    margin-right: 50px;
    margin-top: 30px;
    align-self: flex-start;
    background-color: #3882F6;
    border: 2px white solid;
    color: white;
    border-radius: 3px;
    padding: 5px 20px;
}

.action_text{
    padding-left: 70px;
    color: white;
}

.action_text, h2{
    margin-bottom: 0px;
}

.action_text, p{
    margin-top: 0px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px 0px;
}